/* DESKTOP */

@media screen and (min-width:1000px){
    body{
        padding: 0px;
        margin: 0px;
    }

    .city{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        gap: 20px;
        flex-basis: 100%;
        padding-right: 50px;
        background-color: rgb(229, 229, 229);
        box-shadow:  -1px 0 .3em  darkgrey;
    }
    .logo img{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        height:45px;
    }
    .logo2{
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .logo2 i{
        font-size: 20px;
        padding: 30px 50px 30px 30px;
        color: black;
    }
    .image img{
        z-index: 0;
        width: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }
    .explain{
        display: flex;
        justify-content: space-around;
        background-color: rgb(229, 229, 229);
    }
    .resa{
        padding: 10px 30px 30px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        font-weight:inherit;
        gap: 30px;
        border-radius: 50px;
    }
    .fonction ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        list-style-type: none;
        margin:0;
        padding:10px;
        padding-bottom: 50px;
        gap: 20px;
    }
    #resultscards h1 {
        font-size: 35px;
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }
    article{
        display: flex;
        justify-content: center;
    }
    .entrees{
        width: 450px;
        flex-direction: column;
    }
    .plats{
        width: 450px;
        justify-content: flex-start;
    }
    .desserts{
        width: 450px;
        justify-content: flex-start;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .menu1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        width: 350px;
    }
    .titre{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .titre i{
        font-size: 28px;
    }
    .commander{
        display: flex;
        justify-content: center;
    }
    .footer{
        display: flex;
        justify-content: first baseline;
    }
    .footer i{
        color: lightgrey;
    }
    .footer ul{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        list-style-type: none;
        text-decoration: none;
        gap: 50px;
    }

}

@media screen and (min-width:700px){
    .fonction h1 {
        font-size: 25px;
        display: flex;
        justify-content: center;
        }
    #resultscards h1 {
        font-size: 25px;
        display: flex;
        justify-content: center;
        }
    .image img{
        z-index: 0;
        width: 100%;
        height: 256px;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

}
