.logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0PX;
    width: 100%;
    height: 30px;
}
.logo span{
    font-family: var(--font);
    padding: 20px 0px;
}
.city{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    flex-basis: 100%;
    background-color:rgba(211, 211, 211, 0.395);
    box-shadow:  -2px 0 .3em  darkgrey;
}
.city i{
    font-size: 20px;
    
}