
.resa p{
    margin:0;
    padding:0;
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.resa{
    padding: 10px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    font-weight:inherit;
    gap: 30px;
}
.resa a{
    text-decoration: none;
}
.navbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    width: 220px;
    height: 50px;
    background-image: linear-gradient(172deg, #ff79da 30%, #9356dc 100%);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transform: scale(1); 
    transition-duration: 1.2s;
}

.navbtn:hover{
    transform: scale(1.1);
    box-shadow: 8px 8px 8px lightgrey;
    opacity: 0.8;
}