:root{
    --first:#9356DC;
    --first2:#b697dd3f;
    --second:#ff79da;
    --second2:rgb(255, 121, 218, 0.1);
    --third:#99E2D0;
    --font:'Roboto', sans-serif;
    --font2:'Shrikhand', cursive;
}
